.Statistics {
  width: 100%;
  height: 100%;
 padding: 5px;
  display: flex;
  border: 3px double rgba(28,110,164,0.28);
  border-radius: 11px;
  
}

.left{
  width: 80%;
 
  display: block;
}

.right{
  width:50%;
  
}

@media (min-width: 600px){
  .Auth {
      width: 500px;
  }
}