.Account {
  margin: 20px auto;
  width: 300px;
  text-align: center;
  float: left;
  display: block;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 10px;
  box-sizing: border-box;

}

.Wrapper {
  padding: 40px;
}

@media (min-width: 600px){
  .Auth {
      width: 500px;
  }
}