.Wrapper {
    height: 800px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    justify-items: start;
    
  }

  .Account {
      align-self: flex-end;
  }
  
  @media (min-width: 600px){
    .Auth {
        width: 500px;
    }
  }