.Wrapper {
  border-radius: 10px;
  width: 1150px;
  height: 170px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  padding: 5px;
  box-shadow: 1px 5px 5px#ccc;

}

.Instrument{
  align-self: center;
grid-column: 1/span;
grid-row: 1;

}

.Side{
  grid-column: 1;
  grid-row: 2;
}

.ExecutionPrice{
  align-self: center;
  grid-column: 2/span 3;
  grid-row: 1;
}

.Amount{
  align-self: center;
  grid-column: 2;
  grid-row: 2;
}

.Tpsl{
  align-self: center;
  grid-column: 3;
  grid-row: 1;
}

.RealizedUnrealizedPL{
  align-self: center;
  grid-column: 4;
  grid-row: 1;
}

/* .UnrealizedPL{
  grid-column: 4;
  grid-row: 2;
} */

.MarginRequired{
  align-self: center;
  grid-column: 5;
  grid-row: 1;
}

.Financing{
  align-self: center;
  grid-column: 5;
  grid-row: 2;
}

.CreateTime{
  align-self: center;
  grid-column: 3 /span 2;
  grid-row: 2;
}

.TradeId{
  align-self: center;
  grid-column: 6;
  grid-row: 1;
}

.TradeState{
  grid-column: 6;
  align-self: center;
  grid-row: 2;
}
