.NavigationItems {
  max-width: 150px;
  margin: 20px 0 0 50px ;
  padding: 10px;
  list-style-type: none;
  list-style: none;
  box-shadow: 0 2px 3px#ccc;
  grid-column: 1;
  height: max-content;
}

 
.NavigationItems h2 {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
 
.NavigationItems ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
.NavigationItems li {
  padding-left: 1px;
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
 
.NavigationItems li:last-child {
  border: none;
}
 
.NavigationItems li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 200px;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
.NavigationItems li a:hover {
  font-size: 30px;
  background: inherit; /*#f6f6f6;*/
}