.Orders {
  height: 740px;
  max-width: 1050px;
  margin: 100px auto;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-items: center;
  
}

.NavigationItems {
  max-width: 150px;
  margin: 20px 0 0 50px ;
  padding: 10px;
  list-style-type: none;
  list-style: none;
  box-shadow: 0 2px 3px#ccc;
  height: 100%;
}

.Flow {
  display: flex;
  margin-top: 20px;
  top: 20px;
}

.OrderInfo {
  width: 800px;
  margin: 19px 0 0 50px ;
  background-repeat: no-repeat;
  background-image: url("../../assets/images/OrderLong.PNG");
}


 
h2 {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
 
li:last-child {
  border: none;
}
 
li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 200px;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
li a:hover {
  font-size: 30px;
  background: inherit; /*#f6f6f6;*/
}